		<div class="panel panel-default" ng-click="viewDetail(hose)">
			<div class="panel-heading">{{house.name}}</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
				    	<ul class="plain-list small text-muted">
			          		<li ng-class="{'text-danger': house.alerts.temp}"> Temperatura amb. {{house.temp}}&deg </li>
				          	<li ng-class="{'text-danger': house.alerts.light}"> Intesidad luz {{house.light}}kL </li>
				          	<li ng-class="{'text-danger': house.alerts.soil}"> Humedad suelo {{house.soil}}% </li>
				        </ul>
					</div>
					<div class="col-sm-6">
				    	<ul class="plain-list small text-muted">
			          		<li ng-class="{'text-danger': house.alerts.temp}"> Temperatura amb. {{house.temp}}&deg </li>
				          	<li ng-class="{'text-danger': house.alerts.light}"> Intesidad luz {{house.light}}kL </li>
				          	<li ng-class="{'text-danger': house.alerts.soil}"> Humedad suelo {{house.soil}}% </li>
				        </ul>
					</div>
				</div>
				<div class="line spacer"></div>
				<div class="row">
					<div class="col-sm-6">
				    	<ul class="plain-list small text-muted">
			          		<li ng-class="{'text-danger': house.alerts.temp}"> Temperatura amb. {{house.temp}}&deg </li>
				          	<li ng-class="{'text-danger': house.alerts.light}"> Intesidad luz {{house.light}}kL </li>
				          	<li ng-class="{'text-danger': house.alerts.soil}"> Humedad suelo {{house.soil}}% </li>
				        </ul>
					</div>
					<div class="col-sm-6">
				    	<ul class="plain-list small text-muted">
			          		<li ng-class="{'text-danger': house.alerts.temp}"> Temperatura amb. {{house.temp}}&deg </li>
				          	<li ng-class="{'text-danger': house.alerts.light}"> Intesidad luz {{house.light}}kL </li>
				          	<li ng-class="{'text-danger': house.alerts.soil}"> Humedad suelo {{house.soil}}% </li>
				        </ul>
					</div>
				</div>
				<div class="line spacer"></div>
			</div>
		</div>
		
